body {
	font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, sans-serif !important;
	/* font-size: 18px; */
	margin: 0px;
	background-color: #808080;
}
a{
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
img.vbottom {
	vertical-align: bottom;
}
.left-float {
	float: left;
}

.right-float {
	float: right;
}

/* head
---------------------------------------*/
.login_head {
	width:400px;
	margin:0px;
	height:57px;
	background:url(/images/aoss2_header_tex.gif) repeat-x top left;
}
.head {
	width: 100%;
	margin: 0px;
	background-color: #E6E6E6;
	background-image: url(/images/py20_header_m.png);
	background-repeat: repeat-x;
	background-position: center top;
}
.headerLogo {
	width: 94px;
	height: 18px;
	padding: 21px 0px 18px 18px;
	vertical-align: bottom;
}
.statusArea {
	padding: 13px 0px 0px 0px;
}
.statusIcon {
	float: left;
	width: 90px;
	height: 90px;
	vertical-align: bottom;
	margin:0px 18px 0px 20px;
	border-style: hidden;
	cursor: pointer;
}
.statusIcon:hover {
	border: 0px solid #666666;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 1px 2px 7px #999999;
}
.status_home {
	background: url(/images/py20_status_home_m.png) no-repeat center center;
}
.status_wan_ok {
	background: url(/images/py20_status_internet_ok_m.png) no-repeat center center;
}
.status_wan_ng {
	background: url(/images/py20_status_internet_ng_m.png) no-repeat center center;
}
.status_repeater_ok {
	background: url(/images/py20_status_repeater_m.png) no-repeat center center;
}
.status_repeater_ng {
	background: url(/images/py20_status_repeater_m_dis.png) no-repeat center center;
}
.status_info_none {
	background: url(/images/py20_status_info_none_m.png) no-repeat center center;
}
.status_info {
	background: url(/images/py20_status_info_m.png) no-repeat center center;
}
.status_support_ok {
	background: url(/images/py20_status_help_active_m.png) no-repeat center center;
}
.status_support_ng {
	background: url(/images/py20_status_help_m.png) no-repeat center center;
}
.status_logout {
	background: url(/images/py20_status_logout_m.png) no-repeat center center;
}

.statusArea {
	display: none;
}
/* top bar
---------------------------------------*/
.title {
	height: 50px;
	width: 100%;
	background-color: #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
}
.title_icon {
	height: 36px;
	width: 36px;
	margin: 7px 10px 7px 20px;
	float: left;
	/* line-height: 50px; */
}
.titleimg_wireless {
	background: url(/images/py20_header_wireless_m.png) no-repeat center center;
}
.titleimg_nas {
	background: url(/images/py20_header_nas_m.png) no-repeat center center;
}
.titleimg_guest {
	background: url(/images/py20_header_guest_port_m.png) no-repeat center center;
}
.titleimg_qos {
	background: url(/images/py20_header_qos_m.png) no-repeat center center;
}
.titleimg_parental {
	background: url(/images/py20_header_parental_control_m.png) no-repeat center center;
}
.titleimg_devctrl {
	background: url(/images/py20_header_devctrl_m.png) no-repeat center center;
}
.title_text {
	font-family: Arial Bold;
	padding: 0px 0px 0px 0px;
	font-size: 14px;
	font-weight: bold;
	color: #1E1E1E;
	display: table-cell;
	vertical-align: middle;
	height:50px;
}

/* main
---------------------------------------*/
.login_contents {
	width: 400px;
	margin:0px;
	padding: 0px;
	background:url(/images/aoss2_main_left_tex.gif) repeat-y left top #FFFFFF;
}
.contents {
	width: 100%;
	margin: 0px;
	padding: 15px 0px 0px 0px;
	background-color: #E6E6E6;
}
.mainContents {
	min-height: 86px;
	margin: 0px 22px 0px 22px;
	padding: 10px 0px 0px 0px;
}
.main {
	padding: 25px 0px 0px 0px;
}
.setting_main {
	text-align: left;
	padding: 0px;
}

/* footer
---------------------------------------*/
.footer {
	clear: both;
	margin: 0px;
	/* padding: 50px 0px 20px 25px; */
	padding: 20px 0px 20px 0px;
	position:relative;
	background-color: #E6E6E6;
}
.aistation_logo {
	float: left;
	width: 127px;
	height: 17px;
	/* margin: 0px 20px 0px 141px; */
	background: url(/images/py20_logo_airstation_m.png) no-repeat center center;
}
.modelname {
	float: right;
	font-size:10px;
	color: #666666;
}
.copyright {
	clear: both;
	font-size:10px;
	color:#666666;
	text-align:center;
}

/* indicator
---------------------------------------*/
.waiting_base{
	width: 100%;
	height: 100%;
	background-color: #000000;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 3;
	filter: alpha(opacity=60);
	opacity: 0.6;
	-moz-opacity: 0.6;
}
.waiting_body
{
	width: 240px;
	height: 240px;
	padding: 20px;
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top:-120px;
	margin-left:-120px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	z-index: 4;
}
.indicator{
	text-align: center;
	margin: 50px 0px 50px 0px;
}


/* button
---------------------------------------*/
.button1 {
	width: 275px;
	height: 76px;
	margin: 0px 5px 0px 5px;
	padding: 0px 8px 0px 8px;
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
	border: none;
	background:
		url(/images/py20_button_normal_middle_m.png) repeat-x top center content-box,
		url(/images/py20_button_normal_left_m.png) no-repeat top left,
		url(/images/py20_button_normal_right_m.png) no-repeat top right;
}
.button1:hover {
	color: #66AAFF;
}
/*
.button2 {
	height: 76px;
	width: 269px;
	margin: 0px 5px 0px 5px;
	padding: 0px 8px 0px 8px;
	text-align: center;
	color: #FFFFFF;
	background:
		url(/images/py20_button_normal_middle_m.png) repeat-x top center content-box,
		url(/images/py20_button_normal_left_m.png) no-repeat top left,
		url(/images/py20_button_normal_right_m.png) no-repeat top right;
	float: right;
	cursor: pointer;
}
*/
.button2 {
	height: 26px;
	margin: 0px 0px 0px 20px;
	padding: 0px 4px 0px 4px;
	color: #FFFFFF;
	border: none;
	background-color: #69727E;
	background:
		url(/images/py20_button_normal_middle.png) repeat-x top center content-box,
		url(/images/py20_button_normal_left.png) no-repeat top left,
		url(/images/py20_button_normal_right.png) no-repeat top right;
	float: right;
	cursor: pointer;
}
.button2:hover {
	color: #66AAFF;
	background-color: #A7ACB2;
	background:
		url(/images/py20_button_hover_middle.png) repeat-x top center content-box,
		url(/images/py20_button_hover_left.png) no-repeat top left,
		url(/images/py20_button_hover_right.png) no-repeat top right;
}
/*
.button_next {
	font-family: inherit;
	border: none;
	width:100px;
	height:30px;
	margin-left: 10px;
	text-align:center;
	background:url(/images/aoss2_btn_next.gif) no-repeat left center;
}

.button_back {
	font-family: inherit;
	border: none;
	width:100px;
	height:30px;
	margin-left: 10px;
	text-align:center;
	background:url(/images/aoss2_btn_back.gif) no-repeat left center;
}
*/
.button2:hover {
	color: #66AAFF;
}
.button2_disable {
	height: 76px;
	width: 269px;
	margin: 0px 5px 0px 5px;
	padding: 0px 8px 0px 8px;
	text-align: center;
	color: #CCCCCC;
	background:
		url(/images/py20_button_normal_middle_m.png) repeat-x top center content-box,
		url(/images/py20_button_normal_left_m.png) no-repeat top left,
		url(/images/py20_button_normal_right_m.png) no-repeat top right;
	float: right;
}
.button3 {
	height: 60px;
	width: 270px;
	margin: 0px 5px 0px 5px;
	padding: 0px 8px 0px 8px;
	text-align: center;
	color: #333333;
	background:
		url(/images/py20_button_download_m_normal_middle.png) repeat-x top center content-box,
		url(/images/py20_button_download_m_normal_left.png) no-repeat top left,
		url(/images/py20_button_download_m_normal_right.png) no-repeat top right;
	float: left;
	cursor: pointer;
}
.button3:hover {
	color: #66AAFF;
}
.button_devctrl {
	height: 78px;
	width: 555px;
	padding: 0px 10px 0px 10px;
	margin: 0px 0px 10px 13px;
	text-align: center;
	color: #333333;
	background:
		url(/images/py20_button_device_m_middle.png) repeat-x top center content-box,
		url(/images/py20_button_device_m_left.png) no-repeat top left,
		url(/images/py20_button_device_m_right.png) no-repeat top right;
	cursor: pointer;
}
.button_devctrl:hover {
	color: #66AAFF;
}
.button_text {
	padding-top: 19px;
	font-size: 30px;
	font-weight: bold;
}
.button_text_small {
	padding-top: 13px;
	font-size: 26px;
	font-weight: bold;
}
.button {
	font-family: inherit;
	border: none;
	width:100px;
	height:30px;
	margin-left: 10px;
	text-align:center;
	background:url(/images/aoss2_btn_next.gif) no-repeat left center;
	cursor: pointer;
}
.button_middle {
	padding: 1px 10px 1px 10px;
	font-size: 24px;
	text-decoration: none;
	background-color: #eeeeee;
	border: 1px outset #999999;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
}
.button_middle:link {
	color: #000000;
}
.button_middle:visited {
	color: #000000;
}
.button_middle:active {
	color: #000000;
}
.button_middle:hover {
	color: #66AAFF;
	border: 1px outset #66AAFF;
}
.button_advanced1 {
	display: none;
}
.button_advanced2 {
	display: none;
}

