.aplist {
	padding: 5px;
	background-color: #FFFFFF;
	border: 0px solid #808080;
	margin: 0px 0px 10px 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 1px 1px 2px 2px #999999 inset;
}

.apitem {
}
.apselected {
	background-color: #99CCFF;
}

.apicon {
	width: 38px;
	height: 28px;
	margin: 5px 0px 5px 0px;
	float: left;
}
.apconnect {
	background: url(/images/py20_antenna_m_connect.png) no-repeat center center;
}
.apdisconnect {
	background: url(/images/py20_antenna_m_ng.png) no-repeat center center;
}
.aplevel4 {
	background: url(/images/py20_antenna_,_4.png) no-repeat center center;
}
.aplevel3 {
	background: url(/images/py20_antenna_m_3.png) no-repeat center center;
}
.aplevel2 {
	background: url(/images/py20_antenna_m_2.png) no-repeat center center;
}
.aplevel1 {
	background: url(/images/py20_antenna_m_1.png) no-repeat center center;
}
.apcrypto {
	background: url(/images/py20_antenna_m_sub_security.png) no-repeat center center;
}
.ap2g {
	background: url(/images/py20_subicon_2g_m.png) no-repeat center center;
}
.ap5g {
	background: url(/images/py20_subicon_5g_m.png) no-repeat center center;
}

.apssid {
	padding: 1px 1px 1px 10px;
	font-size: 30px;
	float: left;
}

