
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=<%ChangeCharset();%>">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Thu, 01 Dec 1994 16:00:00 GMT">
<META http-equiv="Content-Style-Type" content="text/css">
<LINK rel="stylesheet" href="WHR-G300N-160149-style-ENG.css" type="text/css">
<LINK rel="stylesheet" href="WHR-G300N-160149-style-ad-ENG.css" type="text/css">
<link rel="alternate stylesheet" id="anothercss_common" type="text/css" href="/images/style-PY20-common.css">
<link rel="alternate stylesheet" id="iecss_common" type="text/css" href="/images/style-PY20-common-compatible.css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<script language="javascript" type="text/javascript" src="common.js"></script>
<script type="text/javascript" src="/js/yahoo_2.0.0.js"></script>
<script type="text/javascript" src="/js/connection_2.0.0.js"></script>
<script type="text/javascript" src="/js/event_2.0.0.js"></script>
<script language="JavaScript">
<!--

var oCallback = {
success:function(oResponse) { 
			document.getElementById("id_main").style.display = "none";
			top.document.getElementById("indicator").style.display = "";
			top.document.getElementById("waiting_err_text").style.display = "none";
			top.document.getElementById("waiting_err_btn").style.display = "none";
			top.dispWaiting(true);
			window.setTimeout("window.location.href='nat_reg.html'", 5000);
}, 
failure:function(oResponse) { 
} 
}
var nowEdit=0;
var oldEdit;
var putvalueflag=0;
var exec=0;
function Init()
{
	var error="<%GetPRFButton("err");%>";
	var item="<%GetPRFButton("item");%>";
	var content="<%GetPRFButton("content");%>";
	var index="<%NvramGet("PortForwardCount");%>";
	
	top.dispWaiting(false);
	document.getElementById("id_main").style.display = "block";
	
	if (error == "1")
	{
		index=(parseInt(index)+1);
		putvalueflag=1;
		Show_error(item, content);
		putValue(document.getElementById("id_index").value, index);
        document.getElementById("id_TITLE").innerHTML ="<%GetString("NatReg","82");%>";
		return;
	}
	else
    {
        document.getElementById("id_TITLE").innerHTML ="<%GetString("NatReg","1");%>";
		Hide_error();
    }
	
	if (index>=32)
	{
		document.getElementById("id_fallbl").style.display="";
		document.getElementById("id_addbl").style.display="none";
	}
}

function addGroupName()
{
	if (document.prfForm.nosave_grpList.selectedIndex==0)
		document.prfForm.nosave_grpName.disabled=false;
	else
		document.prfForm.nosave_grpName.disabled=true;
}

function changeProto()
{
	document.prfForm.nosave_PortType.disabled=true;
	document.prfForm.nosave_ProtNum.disabled=true;
	document.prfForm.nosave_wport.disabled=true;
	document.prfForm.nosave_lport.disabled=true;
	if (document.prfForm.nosave_proto[2].checked)
		document.prfForm.nosave_ProtNum.disabled=false;
	else if (document.prfForm.nosave_proto[3].checked)
	{
		document.prfForm.nosave_PortType.disabled=false;
		enablePort();
	}
}

function enablePort()
{
	if (document.prfForm.nosave_PortType.selectedIndex<2)
		document.prfForm.nosave_wport.disabled=false;
	else
		document.prfForm.nosave_wport.disabled=true;
	document.prfForm.nosave_lport.disabled=false;
}

function ip_normalize_zero(ip)
{
	var ip_tmp = ip.split('.');
	
	if (ip_tmp.length!=4)
		return ip;
		
	var ip_s = ip.split('.', 4);

	if(ip_s.length!=4)
		return ip;
	
	var ip_1 = isNaN(parseInt(ip_s[0],10))?ip_s[0]:parseInt(ip_s[0],10);
	var ip_2 = isNaN(parseInt(ip_s[1],10))?ip_s[1]:parseInt(ip_s[1],10);
	var ip_3 = isNaN(parseInt(ip_s[2],10))?ip_s[2]:parseInt(ip_s[2],10);
	var ip_4 = isNaN(parseInt(ip_s[3],10))?ip_s[3]:parseInt(ip_s[3],10);	
	
    return ip_1 + "." +
           ip_2 + "." + 
           ip_3 + "." + 
           ip_4;
}

function check_protocol_duplicate(protocol)
{		
	var i=1;
	
	if (nowEdit!=0)
	{
		if (protocol.match(document.getElementById("id_proto"+nowEdit).textContent) == protocol)
			return true;
	}
	
	while(i)	
	{		
		if (!document.getElementById("id_proto"+i))
			break;	
			
		if (protocol.match(document.getElementById("id_proto"+i).textContent) == protocol)
		{			
			return false;
		}
		i++;	
	}		
			
	return true;
}	

function checkPrf(action)
{
	if(document.prfForm.nosave_grpName.disabled==false)
	{
  		if (!isAllowValue(document.prfForm.nosave_grpName.value))
		{
			Show_error("<%GetString("NatReg","42");%>", "<%GetString("NatReg","43");%>");
			return;
		}
 		if (!Escape_String(document.prfForm.nosave_grpName.value))
 		{
			Show_error("<%GetString("NatReg","42");%>", "<%GetString("NatReg","43");%>");
			return;
		}
	}
	//validate Internet IP Address start
	if (document.prfForm.nosave_wan.options[document.prfForm.nosave_wan.length-1].selected)
	{
		if (document.prfForm.nosave_manualIP.value.length==0)
		{
			document.prfForm.nosave_erritem.value="<%GetString("NatReg","5");%>";
            		document.prfForm.nosave_errcontent.value="<%GetString("NatReg","45");%>";
            		document.prfForm.nosave_add_tmp.value="1";
		}
		else if (document.prfForm.nosave_manualIP.value.length<7)
		{
			document.prfForm.nosave_erritem.value="<%GetString("NatReg","5");%>";
            		document.prfForm.nosave_errcontent.value="<%GetString("NatReg","75");%>";
            		document.prfForm.nosave_add_tmp.value="1";
		}
		else if (!isAllowValueIP(document.prfForm.nosave_manualIP.value,"<%GetString("NatReg","5");%>"))
			return;
		else if (!check_ip_format(document.prfForm.nosave_manualIP.value,"<%GetString("NatReg","5");%>","wan"))
			return;
		document.prfForm.nosave_manualIP.value=ip_normalize_zero(document.prfForm.nosave_manualIP.value);
	}
	//validate Internet IP Address end
	if (document.prfForm.nosave_proto[2].checked)
	{
		if (document.prfForm.nosave_ProtNum.value.length==0)
		{
			document.prfForm.nosave_erritem.value="<%GetString("NatReg","46");%>";
            		document.prfForm.nosave_errcontent.value="<%GetString("NatReg","47");%>";
            		document.prfForm.nosave_add_tmp.value="1";
		}
		if (!check_integer_range(document.prfForm.nosave_ProtNum.value, 1, 255))
		{
			document.prfForm.nosave_erritem.value="<%GetString("NatReg","46");%>";
            		document.prfForm.nosave_errcontent.value="<%GetString("NatReg","47");%>";
            		document.prfForm.nosave_add_tmp.value="1";
    		}
		if (!check_protocol_duplicate(document.prfForm.nosave_ProtNum.value))
		{            
			document.prfForm.nosave_erritem.value="<%GetString("NatReg","67");%>";
			document.prfForm.nosave_errcontent.value="<%GetString("NatReg","68");%>";
			document.prfForm.nosave_add_tmp.value="1";
		}
	}
	if (document.prfForm.nosave_proto[3].checked)
	{
    		var wanp;
    		var lanp;
		var wport=document.prfForm.nosave_wport.value;
		var lport=document.prfForm.nosave_lport.value;
		
		if (wport.charAt(wport.length-1)=='-')
		{			
			document.prfForm.nosave_erritem.value="<%GetString("NatReg","48");%>";
      		document.prfForm.nosave_errcontent.value="<%GetString("NatReg","49");%>";
      		document.prfForm.nosave_add_tmp.value="1";
		}
		
		if (lport.charAt(lport.length-1)=='-')
		{
			document.prfForm.nosave_erritem.value="<%GetString("NatReg","48");%>";
      		document.prfForm.nosave_errcontent.value="<%GetString("NatReg","49");%>";
      		document.prfForm.nosave_add_tmp.value="1";
		}
		
		
		wanp=wport.split('-');
		lanp=lport.split('-');
		
    		if (document.prfForm.nosave_PortType.selectedIndex==0 || document.prfForm.nosave_PortType.selectedIndex==1)
    		{
      			if (document.prfForm.nosave_wport.value.length==0)
      			{
      			  	//Show_error("Internet Side TCP/UDP Port", "Invalid Internet side TCP/UDP port");
      			  	document.prfForm.nosave_erritem.value="<%GetString("NatReg","48");%>";
      			  	document.prfForm.nosave_errcontent.value="<%GetString("NatReg","49");%>";
      			  	document.prfForm.nosave_add_tmp.value="1";
      			  	//return;
      			} 
  			if (!check_port(document.prfForm.nosave_wport.value) || lanp.length==2)
  			{
  			   	if (wanp.length!=2 && lanp.length==2)
  			   	{
          				 document.prfForm.nosave_erritem.value="<%GetString("NatReg","60");%>";
          				 document.prfForm.nosave_errcontent.value="<%GetString("NatReg","61");%>"; 
          				 document.prfForm.nosave_add_tmp.value="1";
        		   	}
  			   	else if (wanp.length!=2)
  			   	{
          				 document.prfForm.nosave_erritem.value="<%GetString("NatReg","48");%>";
          				 document.prfForm.nosave_errcontent.value="<%GetString("NatReg","49");%>";
          				 document.prfForm.nosave_add_tmp.value="1";
        		}
        		else
        		{
        			  if (!check_port(wanp[0]) || !check_port(wanp[1]) || (parseInt(wanp[0], 10)>parseInt(wanp[1], 10)) || wanp[0]==wanp[1])
        			  {
        			    document.prfForm.nosave_erritem.value="<%GetString("NatReg","48");%>";
        			    document.prfForm.nosave_errcontent.value="<%GetString("NatReg","49");%>";
        			    document.prfForm.nosave_add_tmp.value="1";
        			  }
        			  else if (!check_port(document.prfForm.nosave_wport.value) && wanp.length!=2)
        			  {
        			    document.prfForm.nosave_erritem.value="<%GetString("NatReg","48");%>";
        			    document.prfForm.nosave_errcontent.value="<%GetString("NatReg","49");%>";
        			    document.prfForm.nosave_add_tmp.value="1";
        			  }
					  else if(wanp[0]=="")
					  {
        			    document.prfForm.nosave_erritem.value="<%GetString("NatReg","48");%>";
        			    document.prfForm.nosave_errcontent.value="<%GetString("NatReg","49");%>";
        			    document.prfForm.nosave_add_tmp.value="1";					  					  
					  }
        		}
      		}
      			if (document.prfForm.nosave_lport.value.length!=0)
      			{
      			  if (!check_port(document.prfForm.nosave_lport.value) || wanp.length==2)
    			  {
						if (lanp.length!=2 && wanp.length==2)
      			    	{
      			    	  document.prfForm.nosave_erritem.value="<%GetString("NatReg","60");%>";
      			    	  document.prfForm.nosave_errcontent.value="<%GetString("NatReg","61");%>";
      			    	  document.prfForm.nosave_add_tmp.value="1";
      			    	}
      			    	else if (lanp.length==2 && wanp.length==2)
      			    	{
      			    	  if ((wanp[0]==lanp[0]) && (wanp[1]==lanp[1]))
      			    	  {
      			    	  }
      			    	  else
      			    	  {
      			    	    document.prfForm.nosave_erritem.value="<%GetString("NatReg","60");%>";
      			    	    document.prfForm.nosave_errcontent.value="<%GetString("NatReg","61");%>";
      			    	    document.prfForm.nosave_add_tmp.value="1";
      			    	  }
      			    	}
      			    	else if (lanp.length!=2)
						{
      			      		document.prfForm.nosave_erritem.value="<%GetString("NatReg","50");%>";
      			      		document.prfForm.nosave_errcontent.value="<%GetString("NatReg","51");%>";
      			      		document.prfForm.nosave_add_tmp.value="1";
      			    	}
      			  }      
      			}
    		}
    
    		if (!check_port(document.prfForm.nosave_lport.value) && lanp.length!=2)
    		{
    		  document.prfForm.nosave_erritem.value="<%GetString("NatReg","50");%>";
    		  document.prfForm.nosave_errcontent.value="<%GetString("NatReg","51");%>";
    		  document.prfForm.nosave_add_tmp.value="1";
    		}
    		
    		var tmpPortType=document.prfForm.nosave_PortType.selectedIndex;
    		var tmplport=document.prfForm.nosave_lport.value;
    		if (tmpPortType==3 && ((document.prfForm.nosave_lport.value!="") && (document.prfForm.nosave_lport.value!="20-21")))
    		{
    		  document.prfForm.nosave_erritem.value="<%GetString("NatReg","60");%>";
    		  document.prfForm.nosave_errcontent.value="<%GetString("NatReg","61");%>";
    		  document.prfForm.nosave_add_tmp.value="1";
    		}
    		if (lanp.length>1 && ((tmpPortType==2) || (tmpPortType==4) || (tmpPortType==5) || (tmpPortType==6) || (tmpPortType==7) || (tmpPortType==8) || (tmpPortType==9) || (tmpPortType==10) || (tmpPortType==11)))
    		{
    		  document.prfForm.nosave_erritem.value="<%GetString("NatReg","60");%>";
    		  document.prfForm.nosave_errcontent.value="<%GetString("NatReg","61");%>";
    		  document.prfForm.nosave_add_tmp.value="1";
    		}
  	}
	
	if (document.prfForm.nosave_lanip.value.length==0)
	{
	    	document.prfForm.nosave_erritem.value="<%GetString("NatReg","52");%>";
            	document.prfForm.nosave_errcontent.value="<%GetString("NatReg","45");%>";
            	document.prfForm.nosave_add_tmp.value="1";
	}
	if (!isAllowValueIP(document.prfForm.nosave_lanip.value,"<%GetString("NatReg","52");%>"))
		return;
	if (!check_ip_format(document.prfForm.nosave_lanip.value,"<%GetString("NatReg","52");%>","lan"))
		return;
    document.prfForm.nosave_lanip.value=ip_normalize_zero(document.prfForm.nosave_lanip.value);
	//alert(":1---"+document.prfForm.nosave_add_tmp.value+"---");
	if (document.getElementById("id_prtmanual").checked==true)
	{
	    if (document.prfForm.nosave_ProtNum.value=="6" || document.prfForm.nosave_ProtNum.value=="17")
	    {
	        document.prfForm.nosave_erritem.value="<%GetString("NatReg","46");%>";
        	document.prfForm.nosave_errcontent.value="<%GetString("NatReg","62");%>";
            document.prfForm.nosave_add_tmp.value="1"; 
        }
	}
	if (!check_same_rule())
    		return;
	if(!Escape_String(document.prfForm.nosave_lanip.value))
		{
			document.prfForm.nosave_erritem.value="<%GetString("NatReg","52");%>";
        	document.prfForm.nosave_errcontent.value="<%GetString("NatReg","56");%>";
        			document.prfForm.nosave_add_tmp.value="1"; 
		}
	//alert(":2---"+document.prfForm.nosave_add_tmp.value+"---");
	if(action=="save")
	{
		//document.prfForm.nosave_add_tmp.value="0";
		document.prfForm.nosave_add.disabled=false;
	}
	if (document.prfForm.DO_ADD.value=="<%GetString("NatReg","33");%>")
		document.prfForm.nosave_add.disabled=false;
		
    //alert(":3---"+document.prfForm.nosave_edit.disabled+"---"+document.prfForm.nosave_add_tmp.value+"---");
	if (document.prfForm.nosave_edit.disabled==false && document.prfForm.nosave_add_tmp.value=="1")
	{
		Show_error(document.prfForm.nosave_erritem.value,document.prfForm.nosave_errcontent.value);
		document.prfForm.nosave_add_tmp.value = 0;
	}
	else
	{
		Hide_error();
        if (exec==0)
        {
            exec=1;
			if(document.prfForm.nosave_add_tmp.value=="1") //get error
				document.prfForm.submit();
			else
			{
            	YAHOO.util.Connect.setForm('prfForm'); 
    			YAHOO.util.Connect.asyncRequest('POST','nat_reg.html'+'?timestampt='+new Date().toString(),oCallback);	
			}
        }
	}
}

function putValue(val1,val2)
{
	var error="<%GetPRFButton("err");%>";
	var item="<%GetPRFButton("item");%>";
	var nameObj=document.getElementById("id_name"+val1);
	var wanipObj=document.getElementById("id_wan"+val2);
	var protoObj=document.getElementById("id_proto"+val2);
	var wportObj=document.getElementById("id_wport"+val2);
	var lanipObj=document.getElementById("id_lanip"+val2);
	var lportObj=document.getElementById("id_lport"+val2);
	var buttonObj=document.getElementById("id_button"+val2);
	var nameValue = (document.all)?nameObj.innerText:nameObj.textContent;
	var wanipValue = (document.all)?wanipObj.innerText:wanipObj.textContent;
	var protoValue = (document.all)?protoObj.innerText:protoObj.textContent;
	var wportValue = (document.all)?wportObj.innerText:wportObj.textContent;
	var lanipValue = (document.all)?lanipObj.innerText:lanipObj.textContent;
	var lportValue = (document.all)?lportObj.innerText:lportObj.textContent;
	var wanifIndex=0, i;

	for(i=0;i<(document.prfForm.nosave_wan.length-1);i++)
	{
		if(wanipValue==document.prfForm.nosave_wan.options[i].text)
		{
			wanifIndex=i;
			break;
		}
	}
	if(i>=(document.prfForm.nosave_wan.length-1))
		wanifIndex=document.prfForm.nosave_wan.length-1;

	document.prfForm.nosave_grpName.value = nameValue;
	document.prfForm.nosave_lanip.value = lanipValue;

	if( (error=="1")&&(item=="<%GetString("NatReg","5");%>") )
	{
		if(wanifIndex<(document.prfForm.nosave_wan.length-1))
		{
			document.prfForm.nosave_wan.options[wanifIndex].selected=true;
			document.prfForm.nosave_manualIP.value="";
			document.prfForm.nosave_manualIP.disabled=false;
		}
		else
		{
			document.prfForm.nosave_wan.options[document.prfForm.nosave_wan.length-1].selected=true;
			document.prfForm.nosave_manualIP.value=wanipValue;
			document.prfForm.nosave_manualIP.disabled=false;
		}
	}
	else
	{
		if(wanifIndex<(document.prfForm.nosave_wan.length-1))
		{
			document.prfForm.nosave_wan.options[wanifIndex].selected=true;
			document.prfForm.nosave_manualIP.value="";
			document.prfForm.nosave_manualIP.disabled=true;
		}
		else
		{
			document.prfForm.nosave_wan.options[document.prfForm.nosave_wan.length-1].selected=true;
			document.prfForm.nosave_manualIP.value=wanipValue;
			document.prfForm.nosave_manualIP.disabled=false;
		}
	}
	

	if (protoValue=="<%GetString("WizardFuncInet","4");%>")
	{
		document.prfForm.nosave_proto[3].checked=true;
		if (wportValue=="80")
		{
			document.prfForm.nosave_PortType.selectedIndex=2;
			if (lportValue=="80")
				lportValue="";
		}
		else if (wportValue=="20-21")
		{
			document.prfForm.nosave_PortType.selectedIndex=3;
			if (lportValue=="20-21")
				lportValue="";
		}
		else if (wportValue=="443")
		{
			document.prfForm.nosave_PortType.selectedIndex=4;
			if (lportValue=="443")
				lportValue="";
		}
		else if (wportValue=="23")
		{
			document.prfForm.nosave_PortType.selectedIndex=5;
			if (lportValue=="23")
				lportValue="";
		}
		else if (wportValue=="22")
		{
			document.prfForm.nosave_PortType.selectedIndex=6;
			if (lportValue=="22")
				lportValue="";
		}
		else if (wportValue=="25")
		{
			document.prfForm.nosave_PortType.selectedIndex=7;
			if (lportValue=="25")
				lportValue="";
		}
		else if (wportValue=="110")
		{
			document.prfForm.nosave_PortType.selectedIndex=8;
			if (lportValue=="110")
				lportValue="";
		}
		else if (wportValue=="123")
		{
			document.prfForm.nosave_PortType.selectedIndex=10;
			if (lportValue=="123")
				lportValue="";
		}
		else if (wportValue=="143")
		{
			document.prfForm.nosave_PortType.selectedIndex=11;
			if (lportValue=="143")
				lportValue="";
		}
		else
		{
			document.prfForm.nosave_PortType.selectedIndex=0;
			document.prfForm.nosave_wport.value = wportValue;
		}
		document.prfForm.nosave_lport.value = lportValue;
	}
	else if (protoValue=="<%GetString("WizardFuncInet","5");%>")
	{
		document.prfForm.nosave_proto[3].checked=true;
		if (wportValue=="123")
		{
			document.prfForm.nosave_PortType.selectedIndex=9;
			if (lportValue=="123")
				lportValue="";
		}
		else
		{
			document.prfForm.nosave_PortType.selectedIndex=1;
			document.prfForm.nosave_wport.value = wportValue;
		}
		document.prfForm.nosave_lport.value = lportValue;
	}
	else if (protoValue.match("<%GetString("FilterIp","16");%>"))
		document.prfForm.nosave_proto[0].checked=true;
	else if (protoValue.match("<%GetString("NatReg","11");%>"))
		document.prfForm.nosave_proto[1].checked=true;
	else
	{
		document.prfForm.nosave_proto[2].checked=true;
		document.prfForm.nosave_ProtNum.value = 
			protoValue.substring(0,protoValue.length-protoValue.lastIndexOf("--"));
	}
	if (putvalueflag!=1)
	{
		oldEdit=buttonObj.innerHTML;
		buttonObj.innerHTML = "<center><font color='red'><%GetString("NatReg","71");%></font></center>";
        document.getElementById("id_TITLE").innerHTML ="<%GetString("NatReg","82");%>";      
	}
	changeProto();
}

function warning_click()
{
	if(document.getElementById("nat_warning").style.display=="none")
	{		
		document.getElementById("nat_warning").style.display="";		
	}
	else if(document.getElementById("nat_warning").style.display=="")
	{		
		document.getElementById("nat_warning").style.display="none";
	}
}


function warning_close()
{
	document.getElementById("nat_warning").style.display="none";
}


function restoreEdit(val)
{
	var buttonObj=document.getElementById("id_button"+val);
	document.prfForm.nosave_grpName.value="";
	document.prfForm.nosave_wport.value="";
	document.prfForm.nosave_lport.value="";
	document.prfForm.nosave_ProtNum.value="";
	document.prfForm.nosave_lanip.value=document.prfForm.nosave_lanip.defaultValue;
	document.prfForm.nosave_proto[3].checked=true;
	document.prfForm.nosave_PortType.selectedIndex=0;
	buttonObj.innerHTML = oldEdit;
}

function Cancel(action)
{    
	if (action=="save")
	{
		document.prfForm.nosave_add_tmp.value="0";
		if (exec==0)
  		{
  			exec=1;
  			//document.prfForm.submit();
			YAHOO.util.Connect.setForm('prfForm'); 
    		YAHOO.util.Connect.asyncRequest('POST','nat_reg.html'+'?timestampt='+new Date().toString(),oCallback);	
 	 	}
	}
	else if(action=="add")
	{
		restoreEdit(nowEdit);
		nowEdit=0;
		document.prfForm.nosave_edit.disabled=true;
		document.prfForm.nosave_edit.value=0;
		
		document.prfForm.DO_ADD.value="<%GetString("NatReg","33");%>";
        document.getElementById("id_TITLE").innerHTML ="<%GetString("NatReg","1");%>";
		document.prfForm.DO_CANCEL.style.display="none";
		changeProto();
	}
	Hide_error();
	var index="<%NvramGet("PortForwardCount");%>";
	//index=(parseInt(index)+1);
	if (index>=32)
	{
		document.getElementById("id_fallbl").style.display="";
		document.getElementById("id_addbl").style.display="none";
	}    
	document.prfForm.nosave_grpList.selectedIndex = 0;
}

function prfEdit(val1,val2)
{
	var index="<%NvramGet("PortForwardCount");%>";
	document.prfForm.nosave_grpList.selectedIndex=val1;
	document.prfForm.nosave_grpName.disabled=true;	
	document.getElementById("id_fallbl").style.display="none";
	document.getElementById("id_addbl").style.display="";    
	index=(parseInt(index)+1);
	
	if (putvalueflag=="1")
		document.getElementById("PRFrule"+index).style.display="none";
	Hide_error();
	
	if (nowEdit!=val2 && nowEdit!=0)
		restoreEdit(nowEdit);
	document.prfForm.nosave_edit.disabled=false;
	document.prfForm.nosave_edit.value=val2;
	document.prfForm.DO_ADD.value="<%GetString("NatReg","70");%>";
    document.getElementById("id_TITLE").innerHTML ="<%GetString("NatReg","82");%>";
	document.prfForm.DO_CANCEL.style.display="";
	nowEdit=val2;
	putvalueflag=0;
	putValue(val1,val2);
	document.prfForm.nosave_grpName.value="";
	
	top.window.scroll(0,0);
	SetCwinHeight();
}

function prfEnable(val)
{
	document.prfForm.nosave_enable.disabled=false;
	document.prfForm.nosave_edit.disabled=true;
	document.prfForm.nosave_enable.value=val;
	if (exec==0)
  {
  	exec=1;
  	//document.prfForm.submit();
	if(document.prfForm.nosave_add_tmp.value=="1") //get error
		document.prfForm.submit();
	else
	{
       	YAHOO.util.Connect.setForm('prfForm'); 
    	YAHOO.util.Connect.asyncRequest('POST','nat_reg.html'+'?timestampt='+new Date().toString(),oCallback);	
	}
  }
}

function prfDelete(val)
{
	document.prfForm.nosave_del.disabled=false;
	document.prfForm.nosave_edit.disabled=true;
	document.prfForm.nosave_del.value=val;
	if (exec==0)
  {
  	exec=1;
  	//document.prfForm.submit();
	if(document.prfForm.nosave_add_tmp.value=="1") //get error
		document.prfForm.submit();
	else
	{
       	YAHOO.util.Connect.setForm('prfForm'); 
    	YAHOO.util.Connect.asyncRequest('POST','nat_reg.html'+'?timestampt='+new Date().toString(),oCallback);	
	}
  }
}

function isAllowValue(s)
{
  var i;
	for (i=0; i<s.length; i++)
	{
		var c;
		
		c=s.charAt(i);

		if (((c>='0')&&(c<='9')) || ((c>='a')&&(c<='z')) || ((c>='A')&&(c<='Z')))
		{

		}
		else//Candy deit 091123
		{
		  return false;
		}
	}
	
	return true;
}

function check_ip_format(ip, item, type)
{
	var n;
	var lanip='<%NvramGet("LanIPAddr");%>';
	var lanmask='<%NvramGet("LanNetmask");%>';
	
	if (ip=="0.0.0.0")
	{
		document.prfForm.nosave_erritem.value=item;
            	document.prfForm.nosave_errcontent.value="<%GetString("NatReg","53");%>";
            	document.prfForm.nosave_add_tmp.value="1";
  	}
  	if (ip=="255.255.255.255")
  	{
		document.prfForm.nosave_erritem.value=item;
  	      document.prfForm.nosave_errcontent.value="<%GetString("NatReg","54");%>";
  	      document.prfForm.nosave_add_tmp.value="1";
  	}
  	if (ip==lanip)
  	{
		document.prfForm.nosave_erritem.value=item;
  	      document.prfForm.nosave_errcontent.value="<%GetString("NatReg","55");%>";
  	      document.prfForm.nosave_add_tmp.value="1";
  	}

	if (!isBlank(ip))
	{
		n = ip.split('.');
		
		if (n.length!=4)
		{
			document.prfForm.nosave_erritem.value=item;
        		document.prfForm.nosave_errcontent.value="<%GetString("NatReg","56");%>";
        		document.prfForm.nosave_add_tmp.value="1";
    		}
    		else
    		{
			if(isBlank(n[0]))
			{
				document.prfForm.nosave_erritem.value=item;
        			document.prfForm.nosave_errcontent.value="<%GetString("NatReg","56");%>";
        			document.prfForm.nosave_add_tmp.value="1";

    			}	
			else if((isNaN(n[0]))||(n[0]<=0)||!check_integer(n[0])||n[0]>255) 
			{
				document.prfForm.nosave_erritem.value=item;
        			document.prfForm.nosave_errcontent.value="<%GetString("NatReg","56");%>";
        			document.prfForm.nosave_add_tmp.value="1";
    			}
    			else if (n[0]==127)
    			{
				document.prfForm.nosave_erritem.value=item;
    			    document.prfForm.nosave_errcontent.value="<%GetString("NatReg","57");%>";
    			    document.prfForm.nosave_add_tmp.value="1";
    			}
    			else if ((n[0]>=224)&&(n[0]<=239))
    			{
					document.prfForm.nosave_erritem.value=item;
    			    document.prfForm.nosave_errcontent.value="<%GetString("WizardFuncInet","49");%>";
    			    document.prfForm.nosave_add_tmp.value="1";
    			}	
    			else if ((n[0]>=240)&&(n[0]<=255))
    			{
				document.prfForm.nosave_erritem.value=item;
    			    document.prfForm.nosave_errcontent.value="<%GetString("NatReg","58");%>";
    			    document.prfForm.nosave_add_tmp.value="1";
    			}	
			
			if(isBlank(n[1]))
			{
				document.prfForm.nosave_erritem.value=item;
        			document.prfForm.nosave_errcontent.value="<%GetString("NatReg","56");%>";
        			document.prfForm.nosave_add_tmp.value="1";
    			}
			else if((isNaN(n[1]))||(n[1]<0)||(n[1]>255)||!check_integer(n[1])) 
			{
				document.prfForm.nosave_erritem.value=item;
        			document.prfForm.nosave_errcontent.value="<%GetString("NatReg","56");%>";
        			document.prfForm.nosave_add_tmp.value="1"; 
    			}		
		
			if(isBlank(n[2]))
			{
				document.prfForm.nosave_erritem.value=item;
        		    	document.prfForm.nosave_errcontent.value="<%GetString("NatReg","56");%>";
        		    	document.prfForm.nosave_add_tmp.value="1"; 
        		}
			else if((isNaN(n[2]))||(n[2]<0)||(n[2]>255)||!check_integer(n[2])) 
			{
				document.prfForm.nosave_erritem.value=item;
        			document.prfForm.nosave_errcontent.value="<%GetString("NatReg","56");%>";
        			document.prfForm.nosave_add_tmp.value="1"; 
   	 		}
		
			if(isBlank(n[3]))
			{
				document.prfForm.nosave_erritem.value=item;
        			document.prfForm.nosave_errcontent.value="<%GetString("NatReg","56");%>";
        			document.prfForm.nosave_add_tmp.value="1"; 
    			}
			else if((isNaN(n[3]))||(n[3]<=0)||(n[3]>=255)||!check_integer(n[3])) 
			{
				document.prfForm.nosave_erritem.value=item;
        			document.prfForm.nosave_errcontent.value="<%GetString("NatReg","56");%>";
        			document.prfForm.nosave_add_tmp.value="1"; 
    			}
		}
	}
	
	if(type=="wan")
	{
		 if (check_the_same_subnet(lanip,ip,lanmask))
		  {
			Show_error(item,"<%GetString("Lan","37");%>");
			return false;
		  }
	}
	
	if(type=="lan")
	{
		 if (!check_the_same_subnet(lanip,ip,lanmask))
		  {
			Show_error(item,"<%GetString("Lan","28");%>");
			return false;
		  }
	}
	
	
	return true;
}

function isEmpty(s)
{
	if(s.length==0)
	{
		return true;
	}
	else
	{
		return false;
	}
}

function check_initial_zero(tmp)
{	
	if(tmp.length>1&&tmp.charAt(0)=="0")
	{
		return true;
	}
	return false;
}

function isAllowValueIP(s,item)
{
  var i;
	for (i=0; i<s.length; i++)
	{
		var c;
		
		c=s.charAt(i);
	
		if (((c>='0')&&(c<='9')) || (c=='.'))
		{
      continue;
		}
		else
		{
			document.prfForm.nosave_erritem.value=item;
        		document.prfForm.nosave_errcontent.value="<%GetString("NatReg","59");%>";
       	 		document.prfForm.nosave_add_tmp.value="1"; 
		}
	}
	
	return true;
}

function check_same_rule()
{
  var portno="";
  var protnum="";
  var porttype="";
  var i;
  var rule_count_string='<%NvramGet("PortForwardCount");%>';
  var rule_count=parseInt(rule_count_string, 10);
  var tablewanp;
  var tablewport="";
  var wanp;
  var buttonObj;
  var isedit;
  var wanIndex = document.getElementById("id_wan").selectedIndex;
  
  if (document.getElementById("id_prtmanual").checked==true)
    protnum=document.prfForm.nosave_ProtNum.value;
  else if (document.getElementById("id_prttcpudp").checked==true)
  {
    portno=document.prfForm.nosave_wport.value;
    
    if (document.prfForm.nosave_PortType.selectedIndex==0)
      porttype="TCP";
    else if (document.prfForm.nosave_PortType.selectedIndex==1)
      porttype="UDP";
      
    if (document.prfForm.nosave_PortType.selectedIndex==2)
    {
      portno="80";
      porttype="TCP";
    }
    else if (document.prfForm.nosave_PortType.selectedIndex==3)
    {
      portno="20-21";
      porttype="TCP";
    }
    else if (document.prfForm.nosave_PortType.selectedIndex==4)
    {
      portno="443";
      porttype="TCP";
    }
    else if (document.prfForm.nosave_PortType.selectedIndex==5)
    {
      portno="23";
      porttype="TCP";
    }
    else if (document.prfForm.nosave_PortType.selectedIndex==6)
    {
      portno="22";
      porttype="TCP";
    }
    else if (document.prfForm.nosave_PortType.selectedIndex==7)
    {
      portno="25";
      porttype="TCP";
    }
    else if (document.prfForm.nosave_PortType.selectedIndex==8)
    {
      portno="110";
      porttype="TCP";
    }
    else if (document.prfForm.nosave_PortType.selectedIndex==9)
    {
      portno="123";
      porttype="UDP";
    }
    else if (document.prfForm.nosave_PortType.selectedIndex==10)
    {
      portno="123";
      porttype="TCP";
    }
    else if (document.prfForm.nosave_PortType.selectedIndex==11)
    {
      portno="143";
      porttype="TCP";
    }
  }

  wanp=portno.split('-');
  
  for (i=1; i<=rule_count; i++)
  {
    buttonObj=document.getElementById("id_button"+i);
    isedit=(document.all)?buttonObj.innerText:buttonObj.textContent;
    if (isedit != "<%GetString("NatReg","71");%>")
    {
	    tablewport="";
	    tablewanp="";
	    
	    if (document.getElementById("id_prtall").checked==true)
	    {
	      if (check_integer(document.getElementById("id_proto"+i).innerHTML) || (document.getElementById("id_proto"+i).innerHTML=="<%GetString("NatReg","74");%>") || (document.getElementById("id_proto"+i).innerHTML=="<%GetString("NatReg","11");%>"))
	      {
			if(document.getElementById("id_wan").options[wanIndex].text == document.getElementById("id_wan"+i).innerHTML || document.getElementById("id_manualip").value==document.getElementById("id_wan"+i).innerHTML)
	        {
				document.prfForm.nosave_erritem.value="<%GetString("NatReg","67");%>";
				document.prfForm.nosave_errcontent.value="<%GetString("NatReg","68");%>";
				document.prfForm.nosave_add_tmp.value="1"; 
			}
	      }
	    }
	    else if (document.getElementById("id_prticmp").checked==true)
	    {
	      if ((document.getElementById("id_proto"+i).innerHTML=="<%GetString("NatReg","74");%>") || (document.getElementById("id_proto"+i).innerHTML=="<%GetString("NatReg","11");%>") || (document.getElementById("id_proto"+i).innerHTML=="1"))
	      {
  			if(document.getElementById("id_wan").options[wanIndex].text == document.getElementById("id_wan"+i).innerHTML || document.getElementById("id_manualip").value==document.getElementById("id_wan"+i).innerHTML)
			{
				document.prfForm.nosave_erritem.value="<%GetString("NatReg","67");%>";
				document.prfForm.nosave_errcontent.value="<%GetString("NatReg","68");%>";
				document.prfForm.nosave_add_tmp.value="1"; 
			}
	      }
	    }
	    else if (document.getElementById("id_prtmanual").checked==true)
	    {
	      if (protnum=="6" || protnum=="17")
	      {
	        document.prfForm.nosave_erritem.value="<%GetString("NatReg","46");%>";
        	document.prfForm.nosave_errcontent.value="<%GetString("NatReg","62");%>";
       	 	document.prfForm.nosave_add_tmp.value="1"; 
	      }
	      else if ((protnum=="1" && document.getElementById("id_proto"+i).innerHTML=="<%GetString("NatReg","11");%>") || (document.getElementById("id_proto"+i).innerHTML=="<%GetString("NatReg","74");%>"))
	      {
		  
		  	if(document.getElementById("id_wan").options[wanIndex].text == document.getElementById("id_wan"+i).innerHTML || document.getElementById("id_manualip").value==document.getElementById("id_wan"+i).innerHTML)
	        {
				document.prfForm.nosave_erritem.value="<%GetString("NatReg","67");%>";
				document.prfForm.nosave_errcontent.value="<%GetString("NatReg","68");%>";
				document.prfForm.nosave_add_tmp.value="1";
			}
	      }
	    }
	    else if (document.getElementById("id_prttcpudp").checked==true)
	    {
	      tablewport=document.getElementById("id_wport"+i).innerHTML;
	      tablewanp=tablewport.split('-');
	      
	      if ((portno==document.getElementById("id_wport"+i).innerHTML) && (porttype==document.getElementById("id_proto"+i).innerHTML))
	      {
		  	if(document.getElementById("id_wan").options[wanIndex].text == document.getElementById("id_wan"+i).innerHTML || document.getElementById("id_manualip").value==document.getElementById("id_wan"+i).innerHTML)
			{
				document.prfForm.nosave_erritem.value="<%GetString("NatReg","48");%>";
				document.prfForm.nosave_errcontent.value="<%GetString("NatReg","63");%>";
				document.prfForm.nosave_add_tmp.value="1";
			}
	      }
	      else if (porttype==document.getElementById("id_proto"+i).innerHTML)
	      {
	        if (tablewanp.length==1 && wanp.length==2)
	        {
	          tablewport=parseInt(tablewport,10);
	          wanp[0]=parseInt(wanp[0],10);
	          wanp[1]=parseInt(wanp[1],10);
	          
	          if (tablewport>=wanp[0] && tablewport<=wanp[1])
	          {
			 	if(document.getElementById("id_wan").options[wanIndex].text == document.getElementById("id_wan"+i).innerHTML || document.getElementById("id_manualip").value==document.getElementById("id_wan"+i).innerHTML)
				{
	        	document.prfForm.nosave_erritem.value="<%GetString("NatReg","48");%>";
        		document.prfForm.nosave_errcontent.value="<%GetString("NatReg","63");%>";
       	 		document.prfForm.nosave_add_tmp.value="1";
				}
	          }
	        }
	        else if (tablewanp.length==2)
	        {
	          tablewanp[0]=parseInt(tablewanp[0],10);
	          tablewanp[1]=parseInt(tablewanp[1],10);
	          
	          if (wanp.length==1)
	          {
	            portno=parseInt(portno,10);
	            if (portno>=tablewanp[0] && portno<=tablewanp[1])
	            {
					if(document.getElementById("id_wan").options[wanIndex].text == document.getElementById("id_wan"+i).innerHTML || document.getElementById("id_manualip").value==document.getElementById("id_wan"+i).innerHTML)
					{
					document.prfForm.nosave_erritem.value="<%GetString("NatReg","48");%>";
					document.prfForm.nosave_errcontent.value="<%GetString("NatReg","63");%>";
					document.prfForm.nosave_add_tmp.value="1";
					}
	            }
	          }
	          else if (wanp.length==2)
	          {
	            wanp[0]=parseInt(wanp[0],10);
	            wanp[1]=parseInt(wanp[1],10);
	            
	            if (((wanp[0]>=tablewanp[0] && wanp[0]<=tablewanp[1]) || (wanp[1]>=tablewanp[0] && wanp[1]<=tablewanp[1])) || ((tablewanp[0]>=wanp[0] && tablewanp[0]<=wanp[1]) || (tablewanp[1]>=wanp[0] && tablewanp[1]<=wanp[1])))
	            {
					if(document.getElementById("id_wan").options[wanIndex].text == document.getElementById("id_wan"+i).innerHTML || document.getElementById("id_manualip").value==document.getElementById("id_wan"+i).innerHTML)
					{
						document.prfForm.nosave_erritem.value="<%GetString("NatReg","48");%>";
						document.prfForm.nosave_errcontent.value="<%GetString("NatReg","63");%>";
						document.prfForm.nosave_add_tmp.value="1";
					}
	            }
	          }
	        }
	      }
		  }
    }
  }
  
  return true;
}

function enableInternetIP()
{
	if(document.prfForm.nosave_wan.value=="manual")
		document.prfForm.nosave_manualIP.disabled=false;
	else
		document.prfForm.nosave_manualIP.disabled=true;
}
//-->
</script>


</head>
<body id="id_main" class="BFK_BODY" onLoad="addGroupName();changeProto();Init();" style="display:none;">
<br>
<form name="prfForm"  method="POST">
<div id="id_errtbl" class="C_ERR" style="display:none;"></div>
<div id="id_fallbl" style="display:none;">
  <table class="AD_TTL2">
    <tr><td><%GetString("NatReg","1");%></td></tr>
     <tr>
     	<td>
     		<%GetString("NatReg","77");%>
     	</td>
    </tr>
  </table>     
</div>

<img id="warning_icon" onclick="warning_click();" style="display:<% NvramMatch("NATTrans", "1", "none"); %>;  font-size: 15px; font-weight: bold; width: 32px; height: 32px; margin-bottom: 1em; cursor: pointer;" src="/images/py20_warning.png">
<div id="nat_warning" class="popup_warn" style=" position: absolute; font-size: 15px; white-space: normal; color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); width: 300px; opacity: 0.9; padding: 4px; border: 3px solid rgb(0, 0, 0); top: 60px; left: 50px; display:none;">
	<div style="color: rgb(119, 119, 119); font-size: 15px; font-weight: bold; border: 1px solid rgb(204, 0, 0); height: 2em; line-height: 2em; cursor: move;">
		<input type="button" value="<%GetString("NewUI","233");%>" style="margin: 0px; padding: 0px 5px; height: 2em; line-height: 1.5em; font-size: 15px; font-weight: bold; cursor: pointer; float: right;" onClick="warning_close()">
	</div>
	<p class="warnning_info" style="font-weight:bolder">
		<%GetString("NewUI","278");%>
		<%GetString("NewUI","279");%>
	</p>
</div>
<div id="id_addbl">
  <table class="AD_TTL2">
    <tr>
     <td id="id_TITLE"><%GetString("NatReg","1");%></td>
    </tr>
  </table>
  <table class="AD_SET">
    <tr>
      <th><%GetString("NatReg","2");%></th>
      <td nowrap colspan="2">
        <select size="1" name="nosave_grpList" onChange="addGroupName()">
          <option value="-1" ><%GetString("NatReg","3");%></option>
       	  <%GetGRPList();%>
           </select>&nbsp;&nbsp;&nbsp; <%GetString("NatReg","4");%>
     <input type="text" name="nosave_grpName" value="" size="20" maxlength=16>
      </td>
    </tr>

<!-- Internet Side IP Address start -->
    <tr>
      <th><%GetString("NatReg","5");%></th>
      <td colspan="2">
        <select size="1" name="nosave_wan" id="id_wan" onChange="enableInternetIP()">
          <option value="wan" selected><%GetString("NatReg","6");%></option>
          <%GetPPPoEOptionForPRF();%>
          <option value="manual" ><%GetString("NatReg","7");%></option>
        </select><br>
        <%GetString("NatReg","8");%>
        <input type="text" name="nosave_manualIP" id="id_manualip" size="20"  maxlength="15" value="" disabled>
      </td>
    </tr>
<!-- Internet Side IP Address end -->

    <tr>
      <th rowspan="4"><%GetString("NatReg","9");%>
     </th>
      <td>
     <input type="radio" value="all" name="nosave_proto" id="id_prtall" onClick="changeProto()"><%GetString("NatReg","10");%></td>
      <td>&nbsp;
        
      </td>
    </tr>
     
    <tr>
      <td>
     <input type="radio" value="icmp" name="nosave_proto" id="id_prticmp" onClick="changeProto()"><%GetString("NatReg","11");%></td>
      <td>&nbsp;
        
      </td>
    </tr>
    <tr>
      <td>
     <input type="radio" value="one" name="nosave_proto" id="id_prtmanual" onClick="changeProto()"><%GetString("NatReg","12");%></td>
      <td>
        <%GetString("NatReg","13");%><input type="text" name="nosave_ProtNum" id="id_prtno" size="10" value="" maxlength="3">
      </td>
    </tr>
     
    <tr>
      <td>
     <input type="radio" value="tcp/udp" name="nosave_proto" id="id_prttcpudp" onClick="changeProto()" checked><%GetString("NatReg","15");%></td>
      <td>
        <select size="1" name="nosave_PortType" id="id_porttype" onChange="enablePort()" align="left">
          <option value="tcp" selected><%GetString("NatReg","16");%></option>
          <option value="udp" ><%GetString("NatReg","17");%></option>
          <option value="http" ><%GetString("NatReg","18");%></option>
          <option value="ftp" ><%GetString("NatReg","19");%></option>
          <option value="https" ><%GetString("NatReg","22");%></option>
          <option value="telnet" ><%GetString("NatReg","20");%></option>
          <option value="ssh" ><%GetString("NatReg","21");%></option>
          <option value="smtp" ><%GetString("NatReg","23");%></option>
          <option value="pop3" ><%GetString("NatReg","24");%></option>
          <option value="ntp_u" ><%GetString("NatReg","25");%></option>
          <option value="ntp" ><%GetString("NatReg","26");%></option>
          <option value="imap" ><%GetString("NatReg","27");%></option>
        </select>
	<!--<A href="help/help_nat_reg.html#port" target="help"><%GetString("NatReg","28");%></A>-->
	<br clear=left>
        <%GetString("NatReg","29");%><input type="text" name="nosave_wport" id="id_portno" size="20" maxlength="11" value="">
      </td>
    </tr>
    <tr>
      <th><%GetString("NatReg","30");%></th>
      <td colspan="2">
        <input type="text" name="nosave_lanip" size="20" maxlength="15" value="<%GetLanIPAddress();%>">
      </td>
    </tr>
     
    <tr>
      <th><%GetString("NatReg","31");%></th>
      <td colspan="2">
        <%GetString("NatReg","32");%>
     <input type="text" name="nosave_lport" size="20" maxlength="11" value="">
      </td>
    </tr>
  </table>
     
  <p>
  	<input type="hidden" value="1" name="nosave_add" disabled>
  	<input type="hidden" value="0" name="nosave_add_tmp">
  <%GetPRFButton("button");%>
 
  </p>
</div>
<hr>

  <table class="AD_TTL2">
    <tr>
      <td colspan="7" class="syoumidashi-1"><%GetString("NatReg","34");%>
     
     </td>
    </tr>
  </table>
  <table class="AD_LIST">
    <tr>
      <th><%GetString("NatReg","35");%></th>
      <th><%GetString("NatReg","36");%><br>
          <%GetString("NatReg","37");%></th>
      <th><%GetString("NatReg","38");%><br>
          <%GetString("NatReg","39");%></th>
      <th colspan="2"><%GetString("NatReg","40");%></th>
    </tr>
    <%GetPRFList();%>
  </table>
  <input type="hidden" name="nosave_enable" value="-1" disabled>
  <input type="hidden" name="nosave_edit" value="-1" disabled>
  <input type="hidden" name="nosave_del" value="-1" disabled>
  <input type="hidden" name="nosave_erritem" value="">
  <input type="hidden" name="nosave_errcontent" value="">
  <input type="hidden" name="nosave_session_num" value="<% NvramGet("session_num"); %>">
</form>
</body>
</html>
